package components

templ SignUp(form UserSignUpForm, flash string, isAuthenticated bool) {
	@Base("Signup", signUpBody(form), flash, isAuthenticated)
}

templ signUpBody(form UserSignUpForm) {
	<form action="/user/signup" method="POST" novalidate>
		<div>
			<label>Name:</label>
			if nameErr,ok := form.FieldErrors["name"] ; ok {
				<label class="error">{ nameErr }</label>
			}
			<input type="text" name="name" value={ form.Name }/>
		</div>
		<div>
			<label>Email:</label>
			if emailErr,ok := form.FieldErrors["email"] ; ok {
				<label class="error">{ emailErr }</label>
			}
			<input type="email" name="email" value={ form.Email }/>
		</div>
		<div>
			<label>Password:</label>
			if passErr, ok := form.FieldErrors["password"]; ok {
				<label class="error">{ passErr }</label>
			}
			<input type="password" name="password"/>
		</div>
		<div>
			<input type="submit" value="Signup"/>
		</div>
	</form>
}
