package components

import (
	"fmt"
	"snippetbox.innolabs.ai/internal/models"
)

templ ViewSnippet(snippet models.Snippet, flash string) {
	@Base(fmt.Sprint("Snippet #", snippet.ID), SnippetBody(snippet, flash))
}

templ SnippetBody(snippet models.Snippet, flash string) {
	if len(flash) != 0 {
		<div class="flash">{ flash }</div>
	}
	<div class="snippet">
		<div class="metadata">
			<strong>{ snippet.Title }</strong>
			<span>#{ snippet.ID }</span>
		</div>
		<pre><code>{ renderContent(snippet.Content) }</code></pre>
		<div class="metadata">
			<time>Created: { formateDate(snippet.Created) }</time>
			<time>Expires: { formateDate(snippet.Expires) }</time>
		</div>
	</div>
}
